<div class="mapContainer">
  <div class="mapHeader">
    <button class="backButton" (click)="goBack()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor"
           stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="15 18 9 12 15 6"></polyline>
      </svg>
    </button>
    <h2 class="mapTitle">Map View</h2>
  </div>

  <div class="mapWrapper">
    <div id="map" class="map"></div>
  </div>

  <div class="mapFooter">
    <p class="footerText">Map data and points of interest are generated contextually from chat interactions.</p>
  </div>
</div>
