@use './app/components/styles/theme.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;

  .actionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--button-background);
    color: var(--icon);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--button-background-hover);
    }

    &:active {
      transform: scale(0.95);
    }

    &:disabled {
      background-color: var(--button-background-disabled);
      cursor: not-allowed;
    }
  }
}
