// Light Mode
$background-light: rgb(245, 245, 245);
$background-secondary-light: rgb(255, 255, 255);
$text-primary-light: rgb(51, 51, 51);
$border-light: rgb(224, 224, 224);
$border-secondary-light: rgb(42, 45, 62);
$button-background-light: rgb(68, 97, 242);
$button-background-hover-light: rgb(52, 81, 216);
$button-background-disabled-light: rgb(160, 160, 160);
$message-user-background-light: rgb(68, 97, 242);
$message-user-text-light: rgb(255, 255, 255);
$message-bot-background-light: rgb(255, 255, 255);
$message-bot-text-light: rgb(51, 51, 51);
$message-bot-border-light: rgb(224, 224, 224);
$input-background-light: rgb(255, 255, 255);
$input-text-light: rgb(51, 51, 51);
$input-placeholder-light: rgb(153, 153, 153);
$input-border-light: rgb(224, 224, 224);
$input-border-focus-light: rgb(68, 97, 242);
$icon-light: rgb(255, 255, 255);
$timestamp-light: rgb(153, 153, 153);

// Dark Mode
$background-dark: rgb(18, 18, 18);
$background-secondary-dark: rgb(30, 30, 30);
$text-primary-dark: rgb(229, 229, 229);
$border-dark: rgb(60, 60, 60);
$border-secondary-dark: rgb(60, 60, 60);
$button-background-dark: rgb(68, 97, 242);
$button-background-hover-dark: rgb(52, 81, 216);
$button-background-disabled-dark: rgb(80, 80, 80);
$message-user-background-dark: rgb(68, 97, 242);
$message-user-text-dark: rgb(255, 255, 255);
$message-bot-background-dark: rgb(40, 40, 40);
$message-bot-text-dark: rgb(229, 229, 229);
$message-bot-border-dark: rgb(60, 60, 60);
$input-background-dark: rgb(40, 40, 40);
$input-text-dark: rgb(229, 229, 229);
$input-placeholder-dark: rgb(120, 120, 120);
$input-border-dark: rgb(60, 60, 60);
$input-border-focus-dark: rgb(68, 97, 242);
$icon-dark: rgb(229, 229, 229);
$timestamp-dark: rgb(120, 120, 120);
